<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%d{DEFAULT} %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="PCOSEE" fileName="logs/pcosee.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="SPRING" fileName="logs/pcosee-spring.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="MONGO" fileName="logs/pcosee-mongo.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="warning">
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <Logger name="pcosee.config" level="warning" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="pcosee.controller" level="warning" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="pcosee.converter" level="warning" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="pcosee.dao" level="warning" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="pcosee.exception" level="warning" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="pcosee.facade" level="warning" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="pcosee.formatter" level="warning" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="pcosee.helper" level="warning" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="pcosee.model" level="warning" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="pcosee.validator" level="warning" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.mongodb.driver" level="warning" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
    </Loggers>
</Configuration>